# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AnimationStarter.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Admins\Desktop\Unity\Training\AnimationStarter\.idea\.idea.AnimationStarter\.idea/dataSources/
/dataSources.local.xml
